<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Celiac Compass </title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i|Playfair+Display:400,400i,700,700i|Roboto&display=swap" rel="stylesheet">
  </head>
  <section>
    <body>
      <header class="grid-middle centered padded-1">
        <nav class="col-4-middle padded-1">
          <a class= padded href="#"> Destinations </a>
          <a class= padded href="#"> Cuisines </a>
          <a class= padded href="#"> Restaurants </a>
        </nav>
        <div class="col-3-middle centered padded-1">
          <a href="/">
            <h2 class="logo"> Celiac Compass </h2>
          </a>
        </div>
        <nav class="col-4-middle padded-1">
          <a class= padded href="#"> Contributers </a>
          <a class= padded href="#"> Work With Us </a>
          <a class= padded href="#"> Contact Us </a>
        </nav>
      </header>
    </body>
  </section>

        {{content}}



    </html>
