<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title> Celiac Compass: {{page.title}} </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i|Playfair+Display:400,400i,700,700i|Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>
  <nav  class="tablet-hide">
    <div class="burger-button">
      <span class="burger-top"></span>
      <span class="burger-middle"></span>
      <span class="burger-bottom"></span>
    </div>
    <div class="burger-menu">
      <a href="/destinations">Destinations</a>
      <a href="/restaurants/fair-warung">Restaurants</a>
      <a href="/cuisines/gado-gado">Cuisines</a>
      <a href="/contact">Contact</a>
      <a href="">About</a>
      <a href="">Contributers</a>
    </div>
  </nav>
  <header class="grid-middle centered padding-1">
    <nav class="col-4-middle tablet-show">
      <span class="dropdown-nav">
        <a class="padded" href="/destination">Destinations</a>
        <div class="dropdown-content">
          <a href="/destinations/bali"> Bali </a>
          <a href="/destinations/london"> London </a>
          <a href="/destinations/hawaii"> Hawaii </a>
          <a href=""> Ireland </a>
          <a href=""> Spain </a>
        </div>
      </span>

      <span>

        <a class= padded href="/cuisines/gado-gado"> Cuisines </a>
      </span>
      <span>
        <a class= padded href="/restaurants/fair-warung"> Restaurants </a>
      </span>
    </nav>
    <div class="col-3-middle centered padding-1">
      <a class= centered href="/index">
        <h2 class="logo"> <img src="/images/compass.jpg" alt="Celiac Compass"> </h2>
      </a>
    </div>
    <nav class="col-4-middle centered padding-1 tablet-show">
      <a class= padded href="#"> About </a>
      <a class= padded href="#"> Contributers </a>
      <a class= padded href="/contact"> Contact Us </a>
    </nav>
    </header>
{{content}}
<footer>
  <footer class="grid dark-section">
    <div class="col-5_sm-12">
      <h2>
        𝒞𝑒𝓁𝒾𝒶𝒸 𝒞𝑜𝓂𝓅𝒶𝓈𝓈
      </h2>
      <p> Go On A Gluten Free Journey With Us </p>
    </div>
    <div class="col-1 sm-hidden"></div>
    <div class="col-6_sm-12-middle right">
      <nav class="inline">
        <a href="/destinations/bali"> Destinations </a>|
        <a href="/cuisines/mahi-mahi"> Cuisines </a>|
        <a href="/restaurants/fair-warung"> Restaurants </a>|
        <a href="#"> About </a>|
        <a href="#"> Contributers </a>|
        <a href="/contact"> Contact Us </a>
      </nav>
      <nav class="inline socials">
        <a href="#">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fab fa-youtube"></i>
        </a>
      </nav>
    </div>
  </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/main.js">

</script>
  </body>
</html>
