---
layout: default
---

<section class="light-bg">
  <div class="grid  flex-flip">
    <div class="col-6_sm-12 bg-img" style="background-image: url('{{page.featured_image}}');">
    </div>
    <div class="col-6_sm-12-middle padded">
    <div>
      <h1> {{page.title}} </h1>
    </div>
    <div class="col-6_sm-12-middle padded centered">
      <p> {{page.subtitle}} </p>
    </div>
    <div class="col-6_sm-12-middle padded centered">
      <p> {{page.description}} </p>
    </div>
    <div class= "padded centered">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star-half-o"></span>
    </div>
    <div class="padded centered">
        <a class="btn padded" target="_blank" href="http://www.fairfuturefoundation.org/booking/?utm_source=tripadvisor&utm_medium=referral">
          Website
        </a>
        <a class="btn padded" target="_blank" href="https://www.fairfuturefoundation.org/fairmedias/pdf/fwb-menus/fwb-menu-gb.pdf">
          Menu
        </a>
      </div>
    </div>
  </div>
</section>
  <section class="grid padded">
  <div class="col-6_sm-12">
    <section class="embeded-map">
      {{page.map}}
    </section>
  </div>
  <div class="col-6_sm-12-middle padded">
    <h2> Where to find us </h2>
    <p> Asian, Fusion, Indonesian, Healthy Food </p>
    <p> Gluten Free Options </p>
    <p> <strong> Email: </strong> warungbale@fairfuturefoundation.org </p>
    <p> <strong> Phone: </strong> +62 361 975370 </p>
    <p> <strong> Facebook: </strong> https://www.facebook.com/pg/thefairwarungbale/about/ </p>
    <p> <strong> Instagram: </strong> @thefairwarungbale </p>
  </div>
</section>

<section class="padded">
  <div class="grid padded flex-flip">
    <div class="col-5_sm-12 bg-image"style="background-image: url('{{page.mahi_image}}');">
    </div>
    <div class="col-7_sm-12-middle padded">
      <h4 class="subtle-heading"> A Delicious Adventure </h4>
      <h3> Mahi Mahi in Garlic Butter with Rice and Vegetables </h3>
      <p> Tender white fish in a delicious garlic butter sauce with savory vegetables and rice </p>
      <a class="btn" href="/cuisines/mahi-mahi"> Experience More </a>
    </div>
    </div>
  <div class="grid padded flex-flip">
    <div class="col-5_sm-12 bg-image"style="background-image: url('{{page.cuisines_image}}');">
    </div>
    <div class="col-7_sm-12-middle padded">
      <h4 class="subtle-heading"> A Flavor Journey </h4>
      <h3> Marlin Tuna in Garlic Butter with Rice and Vegetables </h3>
      <p> Savory fresh Marlin Tuna marinated in a aromatic sauce with vegetables and rice </p>
      <a class="btn" href="/cuisines/marlin-tuna"> Experience More </a>
    </div>
  </div>
</section>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Brittany')">Brittany</button>
  <button class="tablinks" onclick="openCity(event, 'Devon')">Devon</button>
  <button class="tablinks" onclick="openCity(event, 'Alex')">Alex</button>
</div>

<div id="Brittany" class="tabcontent">
  <h3>Brittany</h3>
  <img src="/images/fair-warung.jpg" alt="#">
  <img src="#" alt="#">
  <p> Read about Brittany's experience in Bali </p>
</div>

<div id="Devon" class="tabcontent">
  <h3> Devon </h3>
  <img src="/images/fair-warung.jpg" alt="#">
  <img src="#" alt="#">
  <p> Read about Devon's experience in Bali </p>
</div>

<div id="Alex" class="tabcontent">
  <h3> Alex </h3>
  <img src="/images/fair-warung.jpg" alt="#">
  <img src="#" alt="#">
  <p> Read about Alex's experience in Bali </p>
</div>
